<%= render "shared/navbar" %>

<div data-controller="hiddenloading">
  <div data-hiddenloading-target="form">
    <div class="container">
      <div class="mt-5 container-form align-items-center d-flex flex-column">
        <%= simple_form_for(@dream, html: {data: { action: "submit->hiddenloading#show"}}) do |f| %>
          <div class="position-relative">
            <%= f.input :content, as: :text, label: false, placeholder: "White horses were standing...  " %>
            <i class="fa-solid fa-circle-info position-absolute bottom-0 end-0 p-3"></i>
          </div>
          <button type="submit" name="commit" class="custom-btn btn-6 displayed" data-disable-with="Create Dream">
          </button>
        <% end %>


  <div class="hiddenloading d-none" data-hiddenloading-target="loading">
    <%# Quantity should be the same in Sass %>
    <% quantity = 14 %>
    <% for i in 1..quantity do %>
      <div class="firefly"></div>
    <% end %>
  </div>

</div>
