<h1>I have a dream</h1>
<div data-controller="hiddenloading">
  <div data-hiddenloading-target="form">
    <%= simple_form_for(@dream, html:{data: { action: "submit->hiddenloading#show" }}) do |f| %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="hiddenloading d-none" data-hiddenloading-target="loading">
    <%= image_tag("Infinity-1s-200px.gif", alt:"loading")%>
  </div>
</div>
