<%= render "shared/navbar" %>

<div data-controller="hiddenloading">
  <div data-hiddenloading-target="form">
    <div class="container">
      <div class="mt-5 align-items-center d-flex flex-column">
        <%= simple_form_for(@dream, html: {data: { action: "submit->hiddenloading#show"}}) do |f| %>
          <div data-controller="character-counter countermax">
            <div class="position-relative">
              <%= f.input :content,
                wrapper_html: { class: "mb-1" },
                input_html: {autofocus: true, data: { action: "keyup->countermax#check", character_counter_target: "input",
                countermax_target: "input" } },
                label_html: { class: "form-label text-secondary fw-bold" }, as: :text, label: false, placeholder: "White horses were standing...  "
              %>

              <i class="popover-text fa-solid fa-circle-info position-absolute bottom-0 end-0 p-3"data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Tips to get better results" data-bs-content="In order to get better results we recommand to..."></i>

            </div>
            <p class="character-counter"><span data-countermax-target="counter" data-character-counter-target="counter"></span>/250</p>
          </div>

          <div class="pulse-container d-flex justify-content-center">
            <button type="submit" name="commit" class="pulse-button" data-disable-with="Create Dream">
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="hiddenloading d-none" data-hiddenloading-target="loading">
    <%# Quantity should be the same in Sass %>
    <% quantity = 100 %>
    <% for i in 1..quantity do %>
      <div class="firefly"></div>
    <% end %>
  </div>
</div>
