

<div class="container container-home">

  <%= simple_form_for(@dream) do |f| %>
  <%= f.input :content, label: false %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>

<%#
 # input optionnels ci-dessous
 # f.input :mood
 # f.input :character
 # f.input :location %>
