  <div>
    <i class="fancy-text fa-solid fa-arrow-left"></i>
    <%= link_to "Go back", dreamboard_path, class:"fancy-text" %>
  </div>

  <div class="d-flex justify-content-center">
    <h1 class="fancy-text">My dream</h1>
  </div>

<%# image sélectionnée %>
<div id="selected-image">
  <%= cl_image_tag @dream.scenes.first.image.key%>
</div>

<%# slider des scenes %>
  <div class="dreams">
    <div class="dreams_content_thumb">
      <% if @dream.scenes.first && @dream.scenes.first.image.attached? %>
        <% @dream.scenes.each do |scene| %>
          <div class="dreams_dream-thumb" data-dreams-target="dream" data-action="click->dream#selectImage">
            <div class="dreams_dream_image_thumb">
              <%= cl_image_tag scene.image.key, effect: :grayscale %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>




  <div class="d-flex justify-content-center">
    <i class="fa-solid fa-right-left"></i>
  </div>
