<div>
<%= render "shared/navbar" %>

  <div class="d-flex justify-content-center">
    <h1 class="fancy-text">My dream</h1>
  </div>
<div data-controller="dream">
<%# image sélectionnée %>
  <div id="selected_image" data-dream-target="selectedImage">
    <%= cl_image_tag @dream.scenes.first.image.key%>
  </div>

<%# slider des scenes %>
  <div class="dreams">
    <div class="dreams_content_thumb">
      <% if @dream.scenes.first && @dream.scenes.first.image.attached? %>
        <% @dream.scenes.each do |scene| %>
          <div class="dreams_dream-thumb" data-dream-target="dream" data-action="click->dream#selectImage">
            <div class="dreams_dream_image_thumb">
              <%= cl_image_tag scene.image.key %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%# dream.content %>

  <div class="dreams_content_text">
    <%= @dream.content %>
  </div>

  <div class="d-flex justify-content-center">
    <i class="fa-solid fa-right-left"></i>
  </div>

</div>
