#gradient-canvas {
  width:100vw;
  height:100vh;
  background-color: #1d2020;
  --gradient-color-1 : #1d4054 ;
  --gradient-color-2 : #11093e ;
  --gradient-color-3 : #0c033f ;
  --gradient-color-4 : #080420 ;
  z-index: 0;
  position: fixed;
}

.gradient-alt {
  --gradient-color-1: #717368;
  --gradient-color-2: #0d0055;
  --gradient-color-3: #1d2020;
  --gradient-color-4: #60693f;
}
