.grid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  // height: 100%;
  overflow: auto;
}

.imggrid {
  width: 100%;
}

.dreams_dreamfeed_image_thumb img {
  height: 100%;
  object-fit: contain;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.big-image {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 2;

  .img100 {
    width: 100vw;
    height: 100%;
  }
}
