.grid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  height: 100%;
  overflow: auto;
}

.imggrid {
  width: 100%;
}

.dreams_dreamfeed_image_thumb img {
  height: 100%;
  object-fit: contain;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
