.container-dreamboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 5vh;
}

// .cards {
//   flex-shrink: 0;
//   width: 100%;
//   height: 100%;
//   padding-left: 1rem;
//   padding-right: 1rem;
//   scroll-snap-align: start end;
//   margin-bottom: 3vh
// }

#excerpt {
  line-height: initial;
}

.card-background {
  background-color: rgba(0,0,0,0.4)!important
}

.cards_image img{
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  color: transparent;
  border-radius: 5px
}

.cards-filter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  padding: 15px;
  font-family: Montserrat;
  color: white;
}


@media screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.dream-card {
  margin-top : 20vh;
}
