// Specific CSS for your home-page
.container-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding-block-start: 150px;
  padding-left: 25px;
}

#dreamer-intro {
  --animate-duration: 5s;
}

.animate__animated.animate__fadeOutLeft {
  --animate-duration: 1s;
}
