// Specific CSS for your home-page

h1 {
  color: white;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bas-de-link {
 position: absolute;
 bottom: 10px;
}

.spectrum-background {
  background: linear-gradient(186deg, #132867, #28a3aa, #ecb0ac, #e6ca2b);
  background-size: 800% 800%;
  height: 100vh;
  -webkit-animation: AnimationName 48s ease infinite;
  -moz-animation: AnimationName 48s ease infinite;
  animation: AnimationName 48s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:100% 0%}
  50%{background-position:0% 100%}
  100%{background-position:100% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:100% 0%}
  50%{background-position:0% 100%}
  100%{background-position:100% 0%}
}
@keyframes AnimationName {
  0%{background-position:100% 0%}
  50%{background-position:0% 100%}
  100%{background-position:100% 0%}

}
