// Specific CSS for your home-page
.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bas-de-link {
 position: absolute;
 bottom: 10px;
 width: 100%;
 text-align: center;
}
