<div class="container">
  <h1> My scenes </h1>

  <div class="row">
    <%= simple_form_for(@dream, url: filtered_scene_dream_path(@dream), method: :patch) do |f|%>
      <%= f.input :scenes, collection: @scenes, as: :check_boxes %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
