<div class="container mb-5">

<h3 class="pt-4 mx-auto text-center fancy-text">Choose the images that best describe your dream</h3>

    <%= simple_form_for(@dream, url: filtered_scene_dream_path(@dream), method: :patch) do |f|%>
      <%= f.input :scenes, collection: @scenes, as: :check_boxes,
          collection_wrapper_tag: 'div',
          label: "",
          collection_wrapper_class: 'scene-wrapper',
          item_wrapper_class: 'scene-item',
          input_html: {class: 'scene-selector d-none'},
          label_method: lambda { |b| "<i class='fa-regular fa-circle-check'></i>".html_safe + cl_image_tag(b.image.key) } %>

      <%# est-il possible de faire apparaître le submit uniquement si une image est cochée ? %>
      <%= f.submit "Save my dream", class: 'btn-ghost displayed mb-2' %>
    <% end %>
</div>
