<label for="menu-control" class="hamburger">
  <i class="fa-solid fa-ellipsis"></i>
</label>

<input type="checkbox" id="menu-control" class="menu-control">

<aside class="sidebar">

  <nav class="sidebar__menu">
    <%= link_to "a new dream", new_dream_path %>
    <%= link_to "dreamboard", dreamboard_path %>
    <%= link_to "feed", dreamfeed_path %>
  </nav>

  <label for="menu-control" class="sidebar__close"></label>
</aside>
