
<%= render "shared/navbar" %>


<div class="grid">
  <% @dreams.each do |dream| %>
    <% if dream.scenes.first && dream.scenes.first.image.attached? %>
      <div data-controller="dreamfeed">
        <div class="dreams_dreamfeed_image_thumb" data-action="click->dreamfeed#bigimage">
          <%= cl_image_tag dream.scenes.first.image.key, crop: :fill, class: "imggrid" %>
        </div>
        <div class="big-image d-none" data-dreamfeed-target="showbigimage" data-action="click->dreamfeed#closeimage turbo:before-cache@window->dreamfeed#close">
          <%= link_to dream_path(dream) do %>
            <%= cl_image_tag dream.scenes.first.image.key, crop: :fill, class:"img100" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
