<div class="container container-dreamboard">
  <div>

    <div>
      <% @dreams.each do |dream| %>
        <% if dream.user == current_user %>
          <% if dream.scenes.first && dream.scenes.first.image.attached? %>
            <div class="card card-background my-3 border-0 rounded-4">
              <%= link_to dream_path(dream), class:"text-decoration-none" do %>

                    <%= cl_image_tag dream.scenes.first.image.key, crop: :fill, class: "card-img-top rounded-top" %>

                  <div class="card-filter">
                    <% if dream.content? %>
                      <p class="card-text p-2"><%= dream.content %></p>
                    <% end %>
                  </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= link_to root_path do %>
        <i class="fa-solid fa-book-open bas-de-link"></i>
      <% end %>
    </div>



  </div>
</div>
