<div class="container container-home">
  <div class="slides">

    <div>
      <% @dreams.each do |dream| %>
        <% if dream.user == current_user %>
          <% if dream.scenes.first && dream.scenes.first.image.attached? %>
            <div class="slides__slide">
              <%= link_to dream_path(dream), class:"text-decoration-none" do %>
                  <div class="slides__slide__image painting painting--no-background">
                    <%= cl_image_tag dream.scenes.first.image.key, crop: :fill %>
                  </div>
                  <div class="slides_text">
                    <% if dream.content? %>
                      <%= dream.content %>
                    <% end %>
                  </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>



  </div>
    <%= link_to root_path do %>
      <i class="fa-solid fa-book-open bas-de-link"></i>
    <% end %>
</div>
