
<div class="container container-home">
    <h1><div class="animated logo">Dreamer</div></h1>
    <%=link_to "Tell me your dream", new_dream_path%>
    <%= link_to "Go to Dreamboard", dreamboard_path, class: "bas-de-link" %>
</div>
