
<div class="container container-home">
  <div>
    <h1>Dreamer</h1>
    <%=link_to "Tell me your dream", new_dream_path%>
    <div>
      <%=link_to dreamboard_path do %>
      <i class="icon-dreamboard fa-solid fa-brain bas-de-link"></i>
    <% end %>
    </div>
  </div>
      <% quantity = 14 %>
      <% for i in 1..quantity do %>
        <div class="firefly"></div>
      <% end %>
</div>
