
<div class="container container-home align-items-center d-flex flex-column justify-content-center">
    <div class="text-center">
      <div class="title fancy-text">Dreamer</div>
      <h6 class="mb-4">From dream to image</h6>
      <%=link_to "Start", new_dream_path, class: "btn-start"%>
      <div>
      <div class="d-flex justify-content-center">
        <%=link_to dreamboard_path do %>
        <i class="fa-solid fa-brain"></i>
      </div>
      <% end %>
      </div>
    </div>
        <% quantity = 14 %>
        <% for i in 1..quantity do %>
          <div class="firefly"></div>
        <% end %>
</div>
