
<div class="container container-home align-items-center d-flex flex-column justify-content-center">
  <div>
    <div class="title">Dreamer</div>
    <h6>From dream to image</h6>
    <%=link_to "Start", new_dream_path%>
    <div>
      <%=link_to dreamboard_path do %>
      <i class="icon-dreamboard fa-solid fa-brain bas-de-link"></i>
    <% end %>
    </div>
  </div>
</div>
