
.dreams_content {
  position: relative;
  right: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 5vh
}

.dreams_content:not(.is-setting-scroll) {
  scroll-behavior: smooth
}

.dreams_content::-webkit-scrollbar {
  display: none
}

.dreams_dream {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: start end;
  margin-bottom: 3vh
}

.dreams_dream_image img{
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  color: transparent;
}

.dreams_title {
  font-size: x-large;
  margin-top: 1.5vh;
  padding-inline: 2vh;
  color: white;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: 100;
}

.dreams_texte {
  font-size: 1rem;
  margin-top: 1.5vh;
  padding-inline: 2vh;
  color: white;
  text-align: center;
  font-weight: 100;
}

.dreams_text_trunc:not(.active) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.dreams_content_thumb {
  height: 15vh;
  position: relative;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 1.5vh;
}

.dreams_dream-thumb {
  scroll-snap-align: start end;
}

.dreams_dream_image_thumb {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  color: transparent;
  margin-right: 1.5vh;

}

.dreams_dream_image_thumb img {
  height: 100%;
  object-fit: contain;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.dreams_content_thumb::-webkit-scrollbar {
  display: none;
}

.dreams_content_thumb:not(.is-setting-scroll) {
  scroll-behavior: smooth;
}
