$len: 300px;
$time: 3000ms;

.loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  background: transparent;
  z-index: 20;


	svg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;

	}
}

.loading2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  background: transparent;
  z-index: 20;


	svg {
		position: absolute;
		top: 20px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;

	}
}

#infinity-outline {
	fill: transparent;
	stroke-width: 4;
	stroke: white;
	stroke-dasharray: $len*0.01, $len;
	stroke-dashoffset: 0;
	animation: anim $time linear infinite;
}
#infinity-bg {
	fill: transparent;
	stroke-width: 4;
	stroke: white;
	opacity: 0.1;
}
@keyframes anim {
  12.5% {
    stroke-dasharray: $len*0.14, $len;
    stroke-dashoffset: -$len*0.11;
  }
  43.75% {
    stroke-dasharray: $len*0.35, $len;
    stroke-dashoffset: -$len*0.35;
  }
  100% {
    stroke-dasharray: $len*0.01, $len;
    stroke-dashoffset: -$len*0.99;
  }
}
