.navbar {
  background: rgb(255, 255, 255);
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%;
  overflow: hidden;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.icon-size {
  font-size : 30px;
}

.icon-size2 {
  font-size : 35px;
}


.main {
  margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
}
