.scene-wrapper {
  position:relative;
}

.scene-selector + label {
  cursor: pointer;
  border: 10px solid #afafaf;
}

.scene-selector:checked + label {
  border: 10px solid #73ff88;
}

label.collection_check_boxes {
  img {
    width: 100%;
  }
}
