.scene-wrapper {
  position:relative;
}

.scene-selector + label {
  cursor: pointer;
  border: 10px solid #afafaf;
}

.scene-selector:checked + label {
  border: 10px solid #73ff88;
}

label.collection_check_boxes {
  img {
    width: 100%;
  }
}


.scene-wrapper label {
  position: relative;
}

.scene-wrapper label i {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 5px;
  font-size: larger;
}
