

.slides_content {
  position: relative;
  right: 0;
  bottom: 2rem;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none
}

.slides_content:not(.is-setting-scroll) {
  scroll-behavior: smooth
}

.slides_content::-webkit-scrollbar {
  display: none
}

.slides_slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  scroll-snap-align: start end;
  margin-bottom: 3vh
}

.slides_slide_image img{
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  color: transparent;
  border-radius: 10px
}

.slides_text {
  margin-top: 1.5vh;
  padding: 5px;
  color:white;
  font-family: Montserrat;
  text-align: justify;
}

.slides_text_trunc:not(.active) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}


// .slides__button {
  //   --button-size: 32px;
//   position: absolute;
//   z-index: 1;
//   margin: 0;
//   border: 0;
//   padding: 0;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   background: none;
//   transition: left .5s, right .5s, opacity .5s
// }

// .slides__button--close {
//   top: 0;
//   right: 0;
//   padding: .5rem .5rem 1rem 1rem;
//   border-bottom-left-radius: .5rem
// }

// .slides__button--prev {
//   left: 0;
//   padding: 1rem 1rem 1rem .5rem;
//   top: calc(50% - (var(--button-size) + 1rem + 1rem) / 2)
// }

// .slides__button--prev.is-hidden {
//   display: block;
//   opacity: 0;
//   left: calc(-1 * var(--button-size))
// }

// .slides__button--next {
//   right: 0;
//   padding: 1rem .5rem 1rem 1rem;
//   top: calc(50% - (var(--button-size) + 1rem + 1rem) / 2)
// }

// .slides__button--next.is-hidden {
//   display: block;
//   opacity: 0;
//   right: calc(-1 * var(--button-size))
// }

// .slides__slide__square {
//   --size: min(calc(100vw - 2rem), calc(100vh - 4rem));
//   width: var(--size);
//   height: var(--size);
//   top: calc(50vh - var(--size) / 2);
//   left: calc(50vw - var(--size) / 2)
// }


// .slides__slide__image,.slides__slide__image img.painting-image,.slides__slide__image video.painting-image {
  //   -o-object-fit: contain;
  //   object-fit: contain
  // }

  // .stripe_button {
    //   position: relative;
    //   min-height: 42px
    // }
