.page-body {
  font-family: $body-font;
  color: white;
  // background-color: rgb(6, 6, 80);

}

.title {
  color: #f6f2f2;
  opacity: 0.6;
  font-weight: 700;
  font-size: xx-large;
}


h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200!important;
  max-width: 15ch;
  font-size: 48px;
}

h3 {
  color: #f1e1e1;
  opacity: 0.7;
}

a {
  color: #d2189c;
  text-decoration: none;
  background-color: transparent;
}



@mixin fancy-text($gradient) {
  @keyframes fancy {
    from {
      background-position: 0% 50%;
    }
    to {
      background-position: -200% 50%;
    }
  }
  background: $gradient;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  color: rgba(0, 0, 0, 0);
  animation: fancy 3s infinite linear;
}

.fancy-text {
  @include fancy-text(linear-gradient(to right, #67e9c0, #8360c3, #51edc6));
  text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

/* Basic styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");



p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 1.6em;
}


.centre{
  text-align: center;
}

.goback {
  position:relative;
  margin: 30px;
}
